includes:
    - phpstan-baseline.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    level: max

    paths:
        - src

    excludePaths:
        - src/Bundle/Doctrine/PHPCRODM/*
        - src/Bundle/Resources/*
        - src/Bundle/spec/*
        - src/Bundle/Tests/*
        - src/Component/Sorting/Sorter.php
        - src/Component/View/GridView.php
        - src/Component/spec/*
        - src/Component/Tests/*
        - src/Component/vendor/*
        # deprecated
        - src/Component/Filter/MoneyFilter.php

    ignoreErrors:
        - '/Cannot cast mixed to int./'
        - '/Cannot cast mixed to string./'
        - '/Class Sylius\\Bundle\\CurrencyBundle\\Form\\Type\\CurrencyChoiceType not found\./'
        - '/Unable to resolve the template type T in call to method Doctrine\\Persistence\\ObjectManager::getRepository\(\)/'
